@model adad.Models.SiteModel
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using System.Net
@using adad.Areas.Identity.Data
@{

}
<div cite="flex-container-column">
<center><h3>Edit Site Details</h3></center>

<div class="row shadow portal-form">
        <form asp-action="Edit" class="">
            <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="wind_direction" class="form-control" hidden />
            <input asp-for="wind_speed" class="form-control" hidden />
            <input asp-for="send_warning" class="form-control" hidden />
            <input asp-for="curr_time" class="form-control" hidden />
            <input asp-for="curr_weather_code" class="form-control" hidden />
            <input asp-for="curr_temperature" class="form-control" hidden />
            <input asp-for="curr_precip" class="form-control" hidden />
            <input asp-for="curr_windspeed" class="form-control" hidden />
            <input asp-for="curr_gusts" class="form-control" hidden />
            <input asp-for="curr_wind_dir" class="form-control" hidden />
            <input asp-for="tomorrow_weather_code" class="form-control" hidden />
            <input asp-for="tomorrow_high_temp" class="form-control" hidden />
            <input asp-for="tomorrow_low_temp" class="form-control" hidden />
            <input asp-for="tomorrow_precip" class="form-control" hidden />
            <input asp-for="tomorrow_windspeed" class="form-control" hidden />
            <input asp-for="tomorrow_gusts" class="form-control" hidden />
            <input asp-for="tomorrow_wind_dir" class="form-control" hidden />
            </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="idSite" class="control-label"></label>
                <input asp-for="idSite" class="form-control" readonly />
                <span asp-validation-for="idSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="site_name" class="control-label"></label>
                <input asp-for="site_name" class="form-control" required />
                <span asp-validation-for="site_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country_id" class="control-label"></label>
                <input asp-for="country_id" class="form-control" />
                <span asp-validation-for="country_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_name" class="control-label"></label>
                <input asp-for="contact_name" class="form-control" />
                <span asp-validation-for="contact_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country_code" class="control-label"></label>
                <input asp-for="country_code" class="form-control" />
                <span asp-validation-for="country_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sms" class="control-label"></label>
                <input asp-for="sms" class="form-control" />
                <span asp-validation-for="sms" class="text-danger"></span>
            </div>
            <div class="checkbox-container">
                <div>
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>          
                <div class="checkbox-warning">
                    <label asp-for="send_warning" class="form-label">
                        <input class="form-check-input" asp-for="send_warning" />
                        @Html.DisplayNameFor(m => m.send_warning)
                    </label>
                </div>
            </div>
            <div class="form-group">
            <label asp-for="threat" class="control-label"></label>
            <select class="form-control" asp-for="threat" name="threat">
                <option>N/A</option>
                <option>Precipitation</option>
                <option>Ice</option>
                <option>Extream Heat</option>
                <option>Extream Cold</option>
            </select>
            <span asp-validation-for="threat" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="severity" class="control-label"></label>
            <select class="form-control" asp-for="severity" name="severity">
                <option>N/A</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
            <span asp-validation-for="severity" class="text-danger"></span>
            </div>

            <br />
                <div class="btn-container">
                    <button asp-action="Edit" asp-controller="Portal" class="btn btn-primary btn-align-left">Save Changes</button>
                </div>
                <div style="margin:10px; text-align: right !important;">
                    <a asp-action="Index">Back to Site List</a>
                </div>
            </br>
    </form>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}